@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');


body {
    // font-family: 'Jost', sans-serif;
    font-family: "Google Sans", sans-serif;
    font-size: 1rem;
    // font-weight: 400 !important;
}

h1 {
    font-size: 2.2rem;
    font-weight: 800 !important;
}

h2, h3, h4 {
    font-weight: 800 !important;
}

h1, h2, h3, h4 {
    margin-bottom: 1.5rem !important;
    margin-top: 2.5rem !important;
}

code {
    font-family: "JetBrains Mono", monospace;
    // color: #f8f8f2;
    // background-color: #272822;
}

    
// body {
//     font-family: "Roboto", sans-serif;
// }
