
<style>
    #modelDiv {
        width:fit-content;
    }
    #modelDiv:hover {
        cursor: pointer;
    }
    #simulator-container {
        display: flex;
        flex-direction: column;
    }
</style>

<div id="simulator-container">
    <div id="modelDiv"></div>
    <div><a class="book-btn" id="initButton">Inicializar</a></div>
</div>

<script type="module">
	import * as util from 'https://agentscript.org/src/utils.js';
	import Model from 'https://agentscript.org/src/Model.js';
	import TwoDraw from 'https://agentscript.org/src/TwoDraw.js';
	import Color from 'https://agentscript.org/src/Color.js';
	import Animator from 'https://agentscript.org/src/Animator.js';
	import Mouse from 'https://agentscript.org/src/Mouse.js';
 
	class CA extends Model {
	    densidad = 0.5
		
	    constructor(worldOptions = {
            minX: 0,
		    minY: 0,
		    maxX: 30,
		    maxY: 30
	        }) {
		    super(worldOptions)
	    }
	    
	    setup() {
            this.patches.setDefault("estado_t", 0)
            this.patches.setDefault("estado_t1", 0)
            this.patches.ask( p => {
                if (util.randomFloat(1.0) < this.densidad){
                    p.estado_t = 1
                }
            })
	    }

	    step() {
            this.patches.ask(p => {
                const num_vecinos = p.neighbors.with(n => n.estado_t === 1).length;
                if (p.estado_t === 1 && (num_vecinos <= 1 || num_vecinos >= 4)) {
                    p.estado_t1 = 0
                }
                else if (p.estado_t == 0 && num_vecinos == 3) {
                    p.estado_t1 = 1
                }
                else {
                    p.estado_t1 = p.estado_t
                }
            })

		    this.patches.ask(p => {
		        p.estado_t = p.estado_t1
		    })
	    }
	}
 
	const model = new CA()
	
	await model.startup()
    await model.setup()

	const colorEstado = {
	      0: '#F8F9FA',
	      1: 'black'
	  }
	  
	const view = new TwoDraw(model, {
	    div: 'modelDiv',
	    patchSize: 9,
	    drawOptions: {
		    patchesColor: p => colorEstado[p.estado_t],
	    },
	})

	const anim = new Animator(
	    () => {
		    model.step()
		    view.draw()
	    },
	    -1,
	    12
	)

	util.toWindow({ util, model, view, anim })

	let parche;
	const mouse = new Mouse(model, view, mouse => {
	    const { x, y, action } = mouse
	    switch (action){
	    case 'mousedown':
		    parche = model.patches.minOneOf( p => p.distanceXY(x, y));
		    parche.estado_t = 1;
		break
	    case 'mousedrag':
		    anim.stop();
		    parche = model.patches.minOneOf( p => p.distanceXY(x, y));
		    parche.estado_t = 1;
		break
	    case 'mouseup':
		    anim.start();
		break
	    }
	    view.draw()
	}).start()
	
	document.getElementById("initButton").addEventListener(
	    "click",
	    () => {
            model.setup()
            view.draw()
	    }
	)
	
</script>